body {
    background-color: aquamarine;
    color: hsl(160, 73%, 31%);
    font-size:xx-large;
    font-family:fantasy
}

p {
    color: rgb(144, 42, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

p2 {
    color: red;
}

p1{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
